.product-image {
   height: 300px; /* Điều chỉnh chiều cao ảnh */
   object-fit: cover; /* Giữ tỷ lệ ảnh và cắt phần dư thừa */
   width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
}

.ant-rate-star {
   color: #ffc107 !important; /* Đảm bảo màu sao vàng */
}

.ant-card-meta-title {
   display: flex;
   justify-content: space-between;
   align-items: 5px;
}

.ant-card-meta-description {
   margin-top: 10px; /* Thêm khoảng cách giữa phần mô tả và phần tiêu đề */
}

.ant-card-meta-description span {
   display: block;
   margin-bottom: 5px;
}

.ant-card-meta-description div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.selling-container .ant-card {
   width: 24.5% !important;
   margin: 10px 2px 10px;
}
