.content {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}
.product-info {
    display: flex;
    align-items: center;
    margin: 2% 5% 0 5%;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.519);
    padding: 20px;
}
.product-info img {
    width: 200px;
    height: auto;
    border:5px solid#DFB2A9;
    border-radius: 5px;
    margin-right: 20px;
}
.pricing, .mission {
    padding: 2% 5% 0 5%;
    width: 50%;
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pricing div {
    background-color: #FF6699;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    margin-bottom: 10px;
}

.pricing div p:first-child {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.pricing div p:last-child {
    font-size: 1em;
    margin: 1px 0 0 0;
}

.mission div{
    padding: 10px;
    border-radius: 10px;
    text-align:left;
}
.description {
    display: flex;
}
.support, .buttons {
    margin: 2% 5% 0 5%;
    border-radius: 20px;
    width: 50%;
    display: inline;
    justify-content: space-between;
    margin-bottom: 20px;
}
.support {
    border: 1px solid #000000;
    padding: 25px;
}

.support p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.support p:last-child {
    margin-bottom: 0;
}

.highlight {
    font-weight: bold;
    color: #ff6699;
}
.buttons button {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
}

.buttons button img {
    margin-right: 10px;
    height: 30px;
    width: 7%;
    flex-shrink: 0;
}

.thank-you {
    text-align: center;
}
.thank-you img {
    max-width: 60%;
    height: auto;
}