body {
   font-family: Roboto;
   background-color: #f0f0f0;
   margin: 0;
   padding: 0;
}
.container {
   max-width: 960px;
   margin: 0 auto;
   font-family: Roboto;
}
.carousel .slick-slide {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px; /* Chiều cao của slide */
   background-color: #364d79; /* Màu nền của slide */
   overflow: hidden;
}

.carousel .slick-slide div {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.carousel .slick-slide img {
   width: 1500px; /* Chiều rộng là 100% để lấp đầy container */
   height: 100%; /* Chiều cao là 100% để lấp đầy container */
   object-fit: cover; /* Giữ tỉ lệ ảnh và lấp đầy container */
}

@media (max-width: 767px) {
   .carousel-image {
      width: 100%;
      height: 300px;
   }
}

@media (min-width: 768px) and (max-width: 1199px) {
   .carousel-image {
      width: 100%;
      height: 400px;
   }
}

@media (min-width: 1200px) {
   .carousel-image {
      width: 100%;
      height: 500px;
   }
}
